extends layout2
block content

 div
    
 #map
    script.
      function initMap() {
      // Map options
      var options = {
      zoom: 11,
      center: {
      lat: 53.3488,
      lng: -6.2432
      }
      }
      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);
      // Listen for click on map
      google.maps.event.addListener(map, 'click', function(event) {
      // Add marker
      addMarker({
      coords: event.latLng
      });
      });
     
      // Array of markers
      var markers = [{
      coords: {
      lat: 53.3488,
      lng: -6.2432
      },
      iconImage: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
      content: '<h1>Lynn MA</h1>'
      }, {
      coords: {
      lat: 42.8584,
      lng: -70.9300
      },
      content: '<h1>Amesbury MA</h1>'
      }, {
      coords: {
      lat: 42.7762,
      lng: -71.0773
      }
      }];
      // Loop through markers
      for (var i = 0; i < markers.length; i++) {
      // Add marker
      addMarker(markers[i]);
      }
      // Add Marker Function
      function addMarker(props) {
      var marker = new google.maps.Marker({
      position: props.coords,
      map: map,
      //icon:props.iconImage
      });
      // Check for customicon
      if (props.iconImage) {
      // Set icon image
      marker.setIcon(props.iconImage);
      }
      // Check content
      if (props.content) {
      var infoWindow = new google.maps.InfoWindow({
      content: props.content
      });
      marker.addListener('click', function() {
      infoWindow.open(map, marker);
      });
      }
      }
      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDGl7FNUH-pbmU27sCQ81Ngdd9tpV7Qelo&callback=initMap')




 div
    #jumbo.jumbotron
      h1
        | Contact Form
      .formHold
        form#contact-form(action='/hello', method='post', role='form')
          fieldset
            label(for='name') Name *
            input#name(name='name', type='text', placeholder='Your name', required='required')
            label(for='email') Email *
            input#email(name='email', type='text', placeholder='Your email', required='required')
            label(for='message') Message *
            textarea#message(name='message', placeholder='Enter your message here', rows='3', required='required')
            input.btn.btn-primary(type='submit', value='Submit')
            
 
      