extends layout2
block content


 section#about
  .section-content
    .container
      .col-md-6
        .about-text
          #flip
           h3 About Simon
          #panel
           p.lead
            | Orginally from Kilkenny Simon now resides in Dublin where he mixes journalism with writing fictional novels. Simons journalism material can be read on the sports pages of the Irish Independant and you can purchase Simons books including his latest best seller 'And the Birds' right here on simonbourke.net
          
           
          a.btn.btn-sm.btn-secondary-outline(href='') twitter
          a.btn.btn-sm.btn-secondary-outline(href='') facebook
          a.btn.btn-sm.btn-secondary-outline(href='') youtube
 