extends layout2
block content


 section#about
  .section-content
    .container
      .col-md-6
        .about-text
          #flip
           h3 Click here to read about Simon
          #panel
           p.lead
            | Orginally from Kilkenny Simon now resides in Dublin where he mixes journalism with writing fictional novels. Simons journalism material can be read on the sports pages of the Irish Independant and you can purchase Simons books including his latest best seller 'And the Birds' right here on simonbourke.net
            #google_translate_element
            script(type='text/javascript').
             function googleTranslateElementInit() {
             new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
             }
            script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
           
          a.btn.btn-sm.btn-secondary-outline(href='https://twitter.com') twitter
          a.btn.btn-sm.btn-secondary-outline(href='https://www.facebook.com') facebook
          a.btn.btn-sm.btn-secondary-outline(href='https://www.youtube.com') youtube
 
   
    