extends layout2
block content
    .row
      .p Hello welcome to the individual page
            each book in indi
              .item 
                h1.itemtitle #{book.name}
                img.pimage(src='../../#{book.image}', alt='some image')
                p.itemp Price: €#{book.price}