.navbar-custom {
    /*background-color: #ff5500;*/
    background-color: rgba(96, 85, 75, .7);
}
/*eddy comment*/
/* cooment added here on the testbranch */
body {
    background-image: url("personbook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .7);
}

/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 75px;
 /* background-color: #2196F3;  Comment this out later to remove the background color when not needed*/
  padding: 10px;
  margin-top: 185px;
  margin-left: 120px;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
 
}

#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}

.itemtitle {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px
    
}

.itemp {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 16px
    
}

.pimage {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}

.button {
    background-color: #4CAF50;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], select{
  width:100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.formHold{
  border-radius: 5px;
  background-color: rgba(255, 255,255, 0.6);
  padding: 20px;
  width: 70%;
  
  
  
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(191, 187, 63, 0.5);
   color: white;
   text-align: center;
}

/*.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/*.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}*/

.price {
  padding: 15px;
  margin: 0 -15px;
  border-top: 1px solid $light_gray;
  overflow: auto;
  span {
    float: left;
    font-weight: 700;
    font-size: 1.3em;
    color: $green;
  }
  .form-items {
    float: right;
  }
}

.form-items {
  input {
    font-family: inherit;
    border: 1px solid $border_gray;
  }
  input[type=text] {
    width: 24px;
    margin-right: 5px;
    text-align: center;
    padding: 2px 6px;
  }
  input[type=button], input[type=submit] {
    border-radius: 0;
    background: $light_gray;
    padding: 2px 6px;
  }
}

.cart {
  margin: 10px 10px -30px 10px;
  max-height: 100%;
  overflow: auto;
  position: relative;
  width: auto;
  top: auto;
  right: auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.cart-item {
  display: block;
  border-bottom: 1px solid $bg_gray;
  padding: 4px 5px;
  span {
    padding: 0 5px;
  }
}

.cart-item:last-child {
  border: none;
}

.cart-top {
  font-size: 1.2em;
  padding: 5px 10px;
  background: $bg_gray;
}

.cart-bottom {
  padding: 5px;
  background: $bg_gray;
  .button {
    border: 1px solid $border_gray;
    border-radius: 0;
    text-decoration: none;
    padding: 3px 6px;
    display: inline-block;
    margin-right: 5px;
  }
}

.success {
  border: rgba(114, 219, 10, 0.29) 1px solid;
  padding: 15px;
  color: $green;
  margin: 15px 0;
}

@media (max-width: 992px) {
  .item {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .item {
    width: calc(100% - 40px);
  }
}
      





