/* jquery effect on home page*/
#panel,
        #flip {
            padding: 5px;
            
            
            
        }
        
        #panel {
            padding: 30px;
            display: none;
        }

/*navbar code*/

.navbar-custom {
    /*background-color: #ff5500;*/
    background-color: rgba(96, 85, 75, .7);
}
/*eddy comment*/
/* cooment added here on the testbranch */
body {
    background-image: url("personbook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .7);
}

/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

/*contact message*/

#message_received {
    background: url("mailbox.jpg") center center no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 500px;
}
.messageh1 {
    color: white;
    font-size: 40px;
    margin-left: 330px;
    margin-right: 330px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(92, 99, 89, 0.8);
    text-align: center;
}

/*about page*/

#about {
    background: url("persontypr.jpg") center center no-repeat;
    background-size: cover;
    padding-top: 210px;
    padding-bottom: 390px;
}

.about-text {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1.87rem;
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/*google map API*/

#map {
    height: 400px;
    width: 50%;
    margin-left: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

/*register page*/

.register p{
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 100px;
  margin-right: 900px;
  text-align: center;
  margin-top: 20px;
  
}

/*book page*/

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 75px;
  padding: 10px;
  margin-top: 185px;
  margin-left: 120px;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
 
}

#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}

.itemtitle {
   display: block;
    color: #47433e;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px
    
}

.ibook {
  margin-left: 100px;
  margin-top: 100px;
}

.itemp {
   display: block;
    color: #47433e;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 16px
    
}

.pimage {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}

.button {
    background-color: #47433e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], select{
  width:100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#jumbo h1{
  text-align: center;
}

#jumbo{
  background-color: rgba(255, 255,255, 0.6);
  margin-top:100px;
  margin-left: 200px;
  margin-right: 280px;
}

.formHold{
  border-radius: 5px;
  /*background-color: rgba(255, 255,255, 0.6);*/
  background-color: rgba(96, 85, 75, .7);
  padding: 20px;
  margin-left: 200px;
  width: 70%;  
  
}








